In [1]:
# Sales data for Quarter 1 (Matrix 1) == january to june and Quarter 2 (Matrix 2) == July to December
# Rows represent different products, columns represent different regions

import numpy as np

q1 = np.array([
    [200, 220, 250],  # Product A
    [150, 180, 210],  # Product B
    [300, 330, 360]   # Product C
])

q2 = np.array([
    [209, 231, 259],  # Product A
    [155, 192, 222],  # Product B
    [310, 340, 375]   # Product C
])

In [2]:
q1 + q2
# merging the for whole year and same products

array([[409, 451, 509],
       [305, 372, 432],
       [610, 670, 735]])

In [3]:
q2 - q1
# how much sales is greater then in q2 then q1

array([[ 9, 11,  9],
       [ 5, 12, 12],
       [10, 10, 15]])

In [5]:
# % sales units growth in q2 compared to q1

(q2 - q1)*100/q1

array([[4.5       , 5.        , 3.6       ],
       [3.33333333, 6.66666667, 5.71428571],
       [3.33333333, 3.03030303, 4.16666667]])

In [8]:
prices = np.array([
    [10, 12, 11],  # Prices for Product A in different regions
    [8,  9,  10],  # Prices for Product B
    [15, 16, 17]   # Prices for Product C
])

q1_revenue = q1 * prices
q1_revenue

array([[2000, 2640, 2750],
       [1200, 1620, 2100],
       [4500, 5280, 6120]])

In [ ]:
# let's suppose Apple giving 20% of discount on their products

In [13]:
discount_q1 = q1_revenue * 0.2
discount_q1

array([[ 400.,  528.,  550.],
       [ 240.,  324.,  420.],
       [ 900., 1056., 1224.]])

In [14]:
net_revenue = q1_revenue - discount_q1
net_revenue

array([[1600., 2112., 2200.],
       [ 960., 1296., 1680.],
       [3600., 4224., 4896.]])

In [15]:
np.sum(net_revenue)

22568.0

In [17]:
np.sum(discount_q1)
# total discount given by Apple of each category of product

5642.0

In [19]:
# first column is square footage, second is bedrooms

features = np.array([
    [2000, 3], # house 1
    [1800, 2]  # house 2
])

weights = np.array([150, 50000])

price = np.dot(features, weights)
price

array([450000, 370000])

In [20]:
# we can also do cross product bw two numpy array

c = np.array([1,2,3])
d = np.array([4,5,6])
np.cross(c,d)

array([-3,  6, -3])